/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#editBookmarkPanelRows > vbox {
  margin-bottom: .5em;
}

/**** folder menulist ****/
.folder-icon > .menulist-label-box > .menulist-icon,
.folder-icon > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
}

.folder-icon > .menu-iconic-left {
  display: -moz-box;
}

.folder-icon {
  list-style-image: url("chrome://browser/skin/places/folder.svg") !important;
  -moz-context-properties: fill;
  fill: currentColor;
}

/**** expanders ****/

.expander-up,
.expander-down {
  margin: 0 4px 1px 8px;
  padding: 0;
}

.expander-up {
  -moz-appearance: -moz-mac-disclosure-button-open;
}

.expander-down {
  -moz-appearance: -moz-mac-disclosure-button-closed;
}

#editBMPanel_folderTree {
  margin: 6px 4px 0 4px;
}

/* Hide the value column of the tag autocomplete popup
 * leaving only the comment column visible. This is
 * so that only the tag being edited is shown in the
 * popup.
 */
#editBMPanel_tagsField #treecolAutoCompleteValue {
  visibility: collapse;
}


/* ----- BOOKMARK PANEL DROPDOWN MENU ITEMS ----- */

#editBMPanel_folderMenuList[selectedIndex="0"],
#editBMPanel_toolbarFolderItem {
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.svg") !important;
}

#editBMPanel_folderMenuList[selectedIndex="1"],
#editBMPanel_bmRootItem {
  list-style-image: url("chrome://browser/skin/places/bookmarksMenu.svg") !important;
}

#editBMPanel_folderMenuList[selectedIndex="2"],
#editBMPanel_unfiledRootItem {
  list-style-image: url("chrome://browser/skin/places/unfiledBookmarks.svg") !important;
}
