/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Avoid adding ID selector rules in this style sheet, since they could
 * inadvertently match elements in the article content. */

html {
  -moz-text-size-adjust: none;
}

body {
  padding: 20px;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

body.light {
  background-color: #ffffff;
  color: #222222;
}

body.dark {
  background-color: #222222;
  color: #eeeeee;
}

body.sans-serif {
  font-family: sans-serif;
}

body.serif {
  font-family: serif;
}

.container.font-size1 {
  font-size: 10px;
}

.container.font-size2 {
  font-size: 12px;
}

.container.font-size3 {
  font-size: 14px;
}

.container.font-size4  {
  font-size: 16px;
}

.container.font-size5 {
  font-size: 18px;
}

.container.font-size6 {
  font-size: 20px;
}

.container.font-size7 {
  font-size: 22px;
}

.container.font-size8 {
  font-size: 24px;
}

.container.font-size9 {
  font-size: 26px;
}

/* Override some controls and content styles based on color scheme */

body.light > .container > .header > .domain {
  color: #ee7600;
  border-bottom-color: #d0d0d0; 
}

body.light > .container > .header > h1 {
  color: #222222;
}

body.light > .container > .header > .credits {
  color: #898989;
}

body.dark > .container > .header > .domain {
  color: #ff9400;
  border-bottom-color: #777777; 
}

body.dark > .container > .header > h1 {
  color: #eeeeee;
}

body.dark > .container > .header > .credits {
  color: #aaaaaa;
}

body.light > .container > .content .caption,
body.light > .container > .content .wp-caption-text,
body.light > .container > .content figcaption {
  color: #898989;
}

body.dark > .container > .content .caption,
body.dark > .container > .content .wp-caption-text,
body.dark > .container > .content figcaption {
  color: #aaaaaa;
}

body.light > .container > .content blockquote {
  color: #898989 !important;
  border-left-color: #d0d0d0 !important;
}

body.dark > .container > .content blockquote {
  color: #aaaaaa !important;
  border-left-color: #777777 !important;
}

.reader-message {
  margin-top: 40px;
  display: none;
  text-align: center;
  width: 100%;
  font-size: 0.9em;
}

.header {
  text-align: start;
  display: none;
}

.domain,
.credits {
  font-size: 0.9em;
  font-family: sans-serif;
}

.domain {
  margin-top: 10px;
  padding-bottom: 10px;
  color: #00acff !important;
  text-decoration: none;
}

.domain-border {
  margin-top: 15px;
  border-bottom: 1.5px solid #777777;
  width: 50%;
}

.header > h1 {
  font-size: 1.33em;
  font-weight: 700;
  line-height: 1.1em;
  width: 100%;
  margin: 0px;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 0px;
}

.header > .credits {
  padding: 0px;
  margin: 0px;
  margin-bottom: 32px;
}

/*======= Controls toolbar =======*/

.toolbar {
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  list-style: none;
  pointer-events: none;
  transition: opacity 420ms linear;
}

.toolbar > * {
  float: right;
}

.button {
  width: 56px;
  height: 56px;
  display: block;
  background-position: center;
  background-size: 26px 16px;
  background-repeat: no-repeat;
  background-color: #0979D9;
  border-radius: 10000px;
  margin: 20px;
  border: 0;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.40);
}

.button:active {
  background-color: #086ACC;
}

/* Remove dotted border when button is focused */
.button::-moz-focus-inner,
.dropdown-popup > div > button::-moz-focus-inner {
  border: 0;
}

.button[hidden],
.toolbar[hidden] {
  display: none;
}

.dropdown-toggle,
.dropdown-popup {
  pointer-events: auto;
}

.dropdown {
  left: 0;
  text-align: center;
  display: inline-block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*======= Font style popup =======*/

.dropdown-popup {
  position: absolute;
  left: 0;
  width: calc(100% - 30px);
  margin: 15px;
  z-index: 1000;
  background: #EBEBF0;
  visibility: hidden;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.40);
  -moz-user-select: none;
}

/* Only used on desktop */
.dropdown-popup > hr,
.dropdown-arrow,
.font-type-buttons > button > .name,
.content-width-buttons,
.line-height-buttons {
  display: none;
}

.open > .dropdown-popup {
  visibility: visible;
  bottom: 0;
}

.font-type-buttons,
.font-size-buttons,
.color-scheme-buttons {
  display: flex;
  flex-direction: row;
}

.font-type-buttons > button,
.color-scheme-buttons > button {
  text-align: center;
}

.font-type-buttons > button,
.font-size-buttons > button {
  width: 50%;
  background-color: transparent;
  border: 0;
}

.font-type-buttons > button {
  font-size: 24px;
  color: #AFB1B3;
  padding: 15px 0;
}

.font-type-buttons > button:active,
.font-type-buttons > button.selected {
  color: #222222;
}

.font-size-sample {
  flex: 0;
  font-size: 24px;
  color: #000000;
  margin: 0 30px;
  padding: 0 10px;
}

.serif-button {
  font-family: serif;
}

.minus-button,
.plus-button {
  background-color: transparent;
  border: 0;
  height: 60px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.minus-button {
  background-size: 24px 6px;
  margin-left: 50px;
  padding: 0 5px;
}

.plus-button {
  background-size: 24px 24px;
  margin-right: 50px;
  padding: 0 5px;
}

.color-scheme-buttons > button {
  width: 33%;
  border-radius: 4px;
  border: 1px solid #BFBFBF;
  padding: 10px;
  margin: 15px 10px;
  font-size: 14px;
}

.color-scheme-buttons > button:active,
.color-scheme-buttons > button.selected {
  border: 2px solid #0A84FF;
}

.dark-button {
  color: #eeeeee;
  background-color: #333333;
}

.auto-button {
  color: #000000;
  background-color: transparent;
}

.light-button {
  color: #333333;
  background-color: #ffffff;
}

/*======= Toolbar icons =======*/

/* desktop-only controls */
.close-button {
  display: none;
}

.style-button {
  background-image: url('chrome://browser/skin/images/reader-style-icon-hdpi.png');
}

.minus-button {
  background-image: url('chrome://browser/skin/images/reader-minus-hdpi.png');
}

.plus-button {
  background-image: url('chrome://browser/skin/images/reader-plus-hdpi.png');
}

@media screen and (min-resolution: 2dppx) {
  .style-button {
    background-image: url('chrome://browser/skin/images/reader-style-icon-xhdpi.png');
  }

  .minus-button {
    background-image: url('chrome://browser/skin/images/reader-minus-xhdpi.png');
  }

  .plus-button {
    background-image: url('chrome://browser/skin/images/reader-plus-xhdpi.png');
  }
}

@media screen and (min-resolution: 3dppx) {
  .style-button {
    background-image: url('chrome://browser/skin/images/reader-style-icon-xxhdpi.png');
  }

  .minus-button {
    background-image: url('chrome://browser/skin/images/reader-minus-xxhdpi.png');
  }

  .plus-button {
    background-image: url('chrome://browser/skin/images/reader-plus-xxhdpi.png');
  }
}

@media screen and (min-width: 960px) {
  .dropdown-popup {
    width: 350px;
    left: auto;
    right: 0;
  }
}

/*======= Article content =======*/

/* Note that any class names from the original article that we want to match on
 * must be added to CLASSES_TO_PRESERVE in ReaderMode.jsm, so that
 * Readability.js doesn't strip them out */

.moz-reader-content {
  display: none;
  font-size: 1em;
}

.moz-reader-content a {
  text-decoration: underline !important;
  font-weight: normal;
}

.moz-reader-content a,
.moz-reader-content a:visited,
.moz-reader-content a:hover,
.moz-reader-content a:active {
  color: #00acff !important;
}

.moz-reader-content * {
  max-width: 100% !important;
  height: auto !important;
}

.moz-reader-content p {
  line-height: 1.4em !important;
  margin: 0px !important;
  margin-bottom: 20px !important;
}

/* Covers all images showing edge-to-edge using a 
   an optional caption text */
.moz-reader-content .wp-caption,
.moz-reader-content figure {
  display: block !important;
  width: 100% !important;
  margin: 0px !important;
  margin-bottom: 32px !important;
}

/* Images marked to be shown edge-to-edge with an
   optional captio ntext */
.moz-reader-content p > img:only-child,
.moz-reader-content p > a:only-child > img:only-child,
.moz-reader-content .wp-caption img,
.moz-reader-content figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Account for body padding to make image full width */
.moz-reader-content img[moz-reader-full-width] {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  max-width: none !important;
}

/* Image caption text */
.moz-reader-content .caption,
.moz-reader-content .wp-caption-text,
.moz-reader-content figcaption {
  font-size: 0.9em;
  font-family: sans-serif;
  margin: 0px !important;
  padding-top: 4px !important;
}

/* Ensure all pre-formatted code inside the reader content
   are properly wrapped inside content width */
.moz-reader-content code,
.moz-reader-content pre {
  white-space: pre-wrap !important;
  margin-bottom: 20px !important;
}

.moz-reader-content blockquote {
  margin: 0px !important;
  margin-bottom: 20px !important;
  padding: 0px !important;
  padding-inline-start: 16px !important;
  border: 0px !important;
  border-left: 2px solid !important;
}

.moz-reader-content ul,
.moz-reader-content ol {
  margin: 0px !important;
  margin-bottom: 20px !important;
  padding: 0px !important;
  line-height: 1.5em;
}

.moz-reader-content ul {
  padding-inline-start: 30px !important;
  list-style: disc !important;
}

.moz-reader-content ol {
  padding-inline-start: 35px !important;
  list-style: decimal !important;
}

/* Hide elements with common "hidden" class names */
.moz-reader-content .visually-hidden,
.moz-reader-content .visuallyhidden,
.moz-reader-content .hidden,
.moz-reader-content .invisible,
.moz-reader-content .sr-only {
  display: none;
}

.reader-show-element {
  display: initial;
}
