/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/syncedtabs/sidebar.inc.css

/* These styles are intended to mimic XUL trees and the XUL search box. */

.item {
  padding-inline-end: 0;
}

.item-title {
  margin: 1px 0 0;
}

.item-title {
  margin-inline-end: 6px;
}

.search-box {
  -moz-appearance: textfield;
  cursor: text;
  margin: 4px;
  padding: 2px 2px 3px;
  padding-inline-start: 4px;
  color: -moz-FieldText;
}

.search-box > .textbox-input-box {
  background-image: url(chrome://global/skin/icons/search-textbox.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: left center;
  padding-inline-start: 14px;
}

.search-box > .textbox-input-box:-moz-locale-dir(rtl) {
  background-position: right center;
}

.textbox-search-clear {
  width: 16px;
  height: 16px;
  background-image: url(chrome://global/skin/icons/Search-close.png);
  background-repeat: no-repeat;
}

.textbox-search-clear:not([disabled]) {
  cursor: default;
}

.textbox-search-clear:not([disabled]):hover {
  background-position: -16px 0;
}

.textbox-search-clear:not([disabled]):hover:active {
  background-position: -32px 0;
}

.client .item.tab > .item-title-container {
  padding-inline-start: 26px;
}
.item.tab > .item-title-container {
  padding-inline-start: 14px;
}

.item-icon-container {
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  margin-right: 5px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.item-twisty-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 9px; /* The image's width is 9 pixels */
  height: 9px;
  margin: auto;
}

.item.client .item-twisty-container {
  background-image: url("chrome://global/skin/tree/twisty-expanded.svg");
  -moz-context-properties: fill, fill-opacity;
  fill: #636363;
  fill-opacity: 1;
}

.item.client.closed .item-twisty-container {
  background-image: url("chrome://global/skin/tree/twisty-collapsed.svg");
  fill: #b6b6b6;
}

.item.client.closed .item-twisty-container:dir(rtl) {
  background-image: url("chrome://global/skin/tree/twisty-collapsed-rtl.svg");
}

.item.client .item-twisty-container:hover {
  fill: #4ed0f9;
}

.item.client.selected .item-twisty-container:not(:hover) {
  fill: currentColor;
}
